In [45]:
import numpy as np
import pandas as pd

In [46]:
combats = pd.read_csv('combats.csv')
pokemon = pd.read_csv('pokemon.csv')
poke = pd.read_csv('pokemon_preprocessed.csv')

In [47]:
combats.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [48]:
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [49]:
weaknesses = pd.read_json("weaknesses_of_each_pokemon_type.json")
weaknesses.set_index('name',inplace=True)
weaknesses.head()

,immunes,weaknesses,strengths
name,,,
Normal,[Ghost],"[Rock, Steel]",[]
Fire,[],"[Fire, Water, Rock, Dragon]","[Grass, Ice, Bug, Steel]"
Water,[],"[Water, Grass, Dragon]","[Fire, Ground, Rock]"
Electric,[Ground],"[Electric, Grass, Dragon]","[Water, Flying]"
Grass,[],"[Fire, Grass, Poison, Flying, Bug, Dragon, Steel]","[Water, Ground, Rock]"

In [50]:
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [63]:
pokemon['Type 2'] = pokemon['Type 2'].fillna('None')
pokemon['Name'] = pokemon['Name'].fillna('Primeape')

In [65]:
pokemon['Type 1'] = pokemon['Type 1'].replace('Fighting', 'Fight')
pokemon['Type 2'] = pokemon['Type 2'].replace('Fighting', 'Fight')

In [67]:
pokemon['Legendary'] = pokemon['Legendary'].map({False: 0, True:1})

In [68]:
pokemon.loc[pokemon['Name'].isnull()==True]

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [77]:
pokemon.set_index('#', inplace=True)

In [85]:
first_pokemon = combats.join(pokemon, on='First_pokemon',how='left')

In [86]:
second_pokemon = combats.join(pokemon, on='Second_pokemon', how = 'left')

In [87]:
first_pokemon.drop(['First_pokemon', 'Second_pokemon', 'Winner', 'Name', 'Generation', 'Legendary'], axis=1, inplace=True)
second_pokemon.drop(['First_pokemon', 'Second_pokemon', 'Winner', 'Name', 'Generation', 'Legendary'], axis=1, inplace=True)

In [70]:
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,0,0,0,45,49,49,65,65,45,1,0
1,2,1,0,0,60,62,63,80,80,60,1,0
2,3,2,0,0,80,82,83,100,100,80,1,0
3,4,3,0,0,80,100,123,122,120,80,1,0
4,5,4,1,-1,39,52,43,60,50,65,1,0

In [89]:
first_pokemon_num = first_pokemon.iloc[:,2:8]
second_pokemon_num = second_pokemon.iloc[:,2:8]
first_pokemon_num.head()

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  50      64       50       45       50     41
1  91      90       72       90      129    108
2  55      40       85       80      105     40
3  40      40       40       70       40     20
4  70      60      125      115       70     55

In [91]:
pokemon_num = second_pokemon_num - first_pokemon_num
pokemon_num.head()

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  20       6      -10       15      -10     19
1   0      39       18      -18      -39      0
2  20      35      -10       45      -10      0
3  37      80       50      -10       50     28
4 -50     -50      105     -105      160    -50

In [102]:
combats.Winner[combats.Winner == combats.First_pokemon] = 0
combats.Winner[combats.Winner == combats.Second_pokemon] = 1

combats.head()

   First_pokemon  Second_pokemon  Winner
0            266             298       1
1            702             701       1
2            191             668       1
3            237             683       1
4            151             231       0

In [103]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [106]:
forest = RandomForestClassifier()
train_set, test_set = train_test_split(pokemon_num, test_size=0.4)
test_set, valid_set = train_test_split(test_set, test_size=0.5)

In [107]:
forest.fit(X=train_set.iloc[:,1:], y=train_set.iloc[:,0])

MemoryError: could not allocate 157286400 bytes

In [ ]:
forest.score(X=test_set.iloc[:,1:], y=test_set.iloc[:,0])