In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

In [19]:
data = pd.read_csv('data/pokemon_preprocessed.csv')

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   #_x                50000 non-null  int64
 1   First_pokemon      50000 non-null  int64
 2   Second_pokemon     50000 non-null  int64
 3   Winner             50000 non-null  int64
 4   Winner_mark        50000 non-null  int64
 5   Type 1_first       50000 non-null  int64
 6   Type 2_first       50000 non-null  int64
 7   HP_first           50000 non-null  int64
 8   Attack_first       50000 non-null  int64
 9   Defense_first      50000 non-null  int64
 10  Sp. Atk_first      50000 non-null  int64
 11  Sp. Def_first      50000 non-null  int64
 12  Speed_first        50000 non-null  int64
 13  Generation_first   50000 non-null  int64
 14  Legendary_first    50000 non-null  int64
 15  #_y                50000 non-null  int64
 16  Type 1_second      50000 non-null  int64
 17  Type 2_second      50000 non-null  int64
 18  HP_second          50000 non-null  int64
 19  Attack_second      50000 non-null  int64
 20  Defense_second     50000 non-null  int64
 21  Sp. Atk_second     50000 non-null  int64
 22  Sp. Def_second     50000 non-null  int64
 23  Speed_second       50000 non-null  int64
 24  Generation_second  50000 non-null  int64
 25  Legendary_second   50000 non-null  int64
dtypes: int64(26)
memory usage: 9.9 MB

In [21]:
data.drop('Winner',axis=1)

,#_x,First_pokemon,Second_pokemon,Winner_mark,Type 1_first,Type 2_first,HP_first,Attack_first,Defense_first,Sp. Atk_first,...,Type 1_second,Type 2_second,HP_second,Attack_second,Defense_second,Sp. Atk_second,Sp. Def_second,Speed_second,Generation_second,Legendary_second
0,266,266,298,2,15,10,50,64,50,45,...,9,1,70,70,40,60,40,60,3,0
1,702,702,701,2,9,5,91,90,72,90,...,15,5,91,129,90,72,90,108,5,1
2,191,191,668,2,4,7,55,40,85,80,...,14,12,75,75,75,125,95,40,5,0
3,237,237,683,2,6,12,40,40,40,70,...,2,12,77,120,90,60,90,48,5,0
4,151,151,231,1,15,18,70,60,125,115,...,0,16,20,10,230,10,230,5,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,707,707,126,1,2,6,100,120,100,150,...,17,12,30,40,70,70,25,60,1,0
49996,589,589,664,1,10,12,60,85,40,30,...,3,12,35,55,40,45,40,60,5,0
49997,303,303,368,2,17,7,60,50,100,85,...,12,12,73,115,60,60,60,90,3,0
49998,109,109,89,1,3,12,40,30,50,55,...,3,17,25,35,70,95,55,45,1,0
49999,9,9,73,1,6,7,78,104,78,159,...,5,12,70,80,50,35,35,35,1,0

In [51]:
pokemon_df = data.drop('Winner',axis=1)
pokemon_df

,#_x,First_pokemon,Second_pokemon,Winner_mark,Type 1_first,Type 2_first,HP_first,Attack_first,Defense_first,Sp. Atk_first,...,Type 1_second,Type 2_second,HP_second,Attack_second,Defense_second,Sp. Atk_second,Sp. Def_second,Speed_second,Generation_second,Legendary_second
0,266,266,298,2,15,10,50,64,50,45,...,9,1,70,70,40,60,40,60,3,0
1,702,702,701,2,9,5,91,90,72,90,...,15,5,91,129,90,72,90,108,5,1
2,191,191,668,2,4,7,55,40,85,80,...,14,12,75,75,75,125,95,40,5,0
3,237,237,683,2,6,12,40,40,40,70,...,2,12,77,120,90,60,90,48,5,0
4,151,151,231,1,15,18,70,60,125,115,...,0,16,20,10,230,10,230,5,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,707,707,126,1,2,6,100,120,100,150,...,17,12,30,40,70,70,25,60,1,0
49996,589,589,664,1,10,12,60,85,40,30,...,3,12,35,55,40,45,40,60,5,0
49997,303,303,368,2,17,7,60,50,100,85,...,12,12,73,115,60,60,60,90,3,0
49998,109,109,89,1,3,12,40,30,50,55,...,3,17,25,35,70,95,55,45,1,0
49999,9,9,73,1,6,7,78,104,78,159,...,5,12,70,80,50,35,35,35,1,0

In [52]:
pokemon_df['Type_1_diff'] = pokemon_df['Type 1_first'] - pokemon_df['Type 1_second']

In [26]:
pokemon_df['Type_1_diff']

0         6
1        -6
2       -10
3         4
4        15
         ..
49995   -15
49996     7
49997     5
49998     0
49999     1
Name: Type_1_diff, Length: 50000, dtype: int64

In [93]:
pokemon_df.drop('#_y',axis=1,inplace=True)

In [91]:
pokemon_df.drop('Speed_second',axis=1,inplace=True)

In [94]:
pokemon_df

,#_x,First_pokemon,Second_pokemon,Winner_mark,Generation_first,Legendary_first,Generation_second,Legendary_second,Type_1_diff,Type_2_diff,HP_diff,Attack_diff,Defense_diff,Sp. Atk_diff,Sp. Def_diff,Speed_diff
0,266,266,298,2,2,0,3,0,6,9,-20,-6,10,-15,10,-19
1,702,702,701,2,5,1,5,1,-6,0,0,-39,-18,18,39,0
2,191,191,668,2,2,0,5,0,-10,-5,-20,-35,10,-45,10,0
3,237,237,683,2,2,0,5,0,4,0,-37,-80,-50,10,-50,-28
4,151,151,231,1,1,0,2,0,15,2,50,50,-105,105,-160,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,707,707,126,1,5,1,1,0,-15,-6,70,80,30,80,95,30
49996,589,589,664,1,5,0,5,0,7,0,25,30,0,-15,5,8
49997,303,303,368,2,3,0,3,0,5,-5,-13,-65,40,25,10,-25
49998,109,109,89,1,1,0,1,0,0,-5,15,-5,-20,-40,0,55
49999,9,9,73,1,1,0,1,0,1,-5,8,24,28,124,80,65

In [57]:
pokemon_df['HP_diff'] = pokemon_df['HP_first'] - pokemon_df['HP_second']

In [58]:
pokemon_df['Attack_diff'] = pokemon_df['Attack_first'] - pokemon_df['Attack_second']

In [59]:
pokemon_df['Defense_diff'] = pokemon_df['Defense_first'] - pokemon_df['Defense_second']

In [62]:
pokemon_df['Sp. Atk_diff'] = pokemon_df['Sp. Atk_first'] - pokemon_df['Sp. Atk_second']

In [63]:
pokemon_df['Sp. Def_diff'] = pokemon_df['Sp. Def_first'] - pokemon_df['Sp. Def_second']

In [84]:
pokemon_df['Speed_diff'] = pokemon_df['Speed_first'] - pokemon_df['Speed_second']

In [89]:
pokemon_df['Legendary_second'].astype(str)

0        0
1        1
2        0
3        0
4        0
        ..
49995    0
49996    0
49997    0
49998    0
49999    0
Name: Legendary_second, Length: 50000, dtype: object

In [106]:
pokemon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   #_x                50000 non-null  int64
 1   Winner_mark        50000 non-null  int64
 2   Generation_first   50000 non-null  int64
 3   Legendary_first    50000 non-null  int64
 4   Generation_second  50000 non-null  int64
 5   Legendary_second   50000 non-null  int64
 6   Type_1_diff        50000 non-null  int64
 7   Type_2_diff        50000 non-null  int64
 8   HP_diff            50000 non-null  int64
 9   Attack_diff        50000 non-null  int64
 10  Defense_diff       50000 non-null  int64
 11  Sp. Atk_diff       50000 non-null  int64
 12  Sp. Def_diff       50000 non-null  int64
 13  Speed_diff         50000 non-null  int64
dtypes: int64(14)
memory usage: 5.3 MB

In [99]:
pokemon_df.drop('Second_pokemon',axis=1,inplace=True)

In [114]:
pokemon_df

,#_x,Winner_mark,Type_1_diff,Type_2_diff,HP_diff,Attack_diff,Defense_diff,Sp. Atk_diff,Sp. Def_diff,Speed_diff,...,Generation_second_1,Generation_second_2,Generation_second_3,Generation_second_4,Generation_second_5,Generation_second_6,Legendary_first_0,Legendary_first_1,Legendary_second_0,Legendary_second_1
0,266,2,6,9,-20,-6,10,-15,10,-19,...,0,0,1,0,0,0,1,0,1,0
1,702,2,-6,0,0,-39,-18,18,39,0,...,0,0,0,0,1,0,0,1,0,1
2,191,2,-10,-5,-20,-35,10,-45,10,0,...,0,0,0,0,1,0,1,0,1,0
3,237,2,4,0,-37,-80,-50,10,-50,-28,...,0,0,0,0,1,0,1,0,1,0
4,151,1,15,2,50,50,-105,105,-160,50,...,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,707,1,-15,-6,70,80,30,80,95,30,...,1,0,0,0,0,0,0,1,1,0
49996,589,1,7,0,25,30,0,-15,5,8,...,0,0,0,0,1,0,1,0,1,0
49997,303,2,5,-5,-13,-65,40,25,10,-25,...,0,0,1,0,0,0,1,0,1,0
49998,109,1,0,-5,15,-5,-20,-40,0,55,...,1,0,0,0,0,0,1,0,1,0
49999,9,1,1,-5,8,24,28,124,80,65,...,1,0,0,0,0,0,1,0,1,0

In [108]:
pokemon_df = pd.get_dummies(pokemon_df, columns=['Generation_first','Generation_second','Legendary_first','Legendary_second'])

In [119]:
pokemon_df.drop('Type_2_diff',axis=1,inplace=True)

In [120]:
pokemon_df

,Winner_mark,HP_diff,Attack_diff,Defense_diff,Sp. Atk_diff,Sp. Def_diff,Speed_diff,Generation_first_1,Generation_first_2,Generation_first_3,...,Generation_second_1,Generation_second_2,Generation_second_3,Generation_second_4,Generation_second_5,Generation_second_6,Legendary_first_0,Legendary_first_1,Legendary_second_0,Legendary_second_1
0,2,-20,-6,10,-15,10,-19,0,1,0,...,0,0,1,0,0,0,1,0,1,0
1,2,0,-39,-18,18,39,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
2,2,-20,-35,10,-45,10,0,0,1,0,...,0,0,0,0,1,0,1,0,1,0
3,2,-37,-80,-50,10,-50,-28,0,1,0,...,0,0,0,0,1,0,1,0,1,0
4,1,50,50,-105,105,-160,50,1,0,0,...,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1,70,80,30,80,95,30,0,0,0,...,1,0,0,0,0,0,0,1,1,0
49996,1,25,30,0,-15,5,8,0,0,0,...,0,0,0,0,1,0,1,0,1,0
49997,2,-13,-65,40,25,10,-25,0,0,1,...,0,0,1,0,0,0,1,0,1,0
49998,1,15,-5,-20,-40,0,55,1,0,0,...,1,0,0,0,0,0,1,0,1,0
49999,1,8,24,28,124,80,65,1,0,0,...,1,0,0,0,0,0,1,0,1,0

In [121]:
X = pokemon_df.drop('Winner_mark',axis=1)
y = pokemon_df['Winner_mark']

In [122]:
X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y,random_state=1)

In [123]:
scaler = StandardScaler()

In [124]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [125]:
k_list = range(1,21)
train_acc_list = []
test_acc_list = []

for k in k_list:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train_scaled,y_train)
    
    pred_train = knn.predict(X_train_scaled)
    pred_test = knn.predict(X_test_scaled)
    
    train_acc_list.append(accuracy_score(y_train,pred_train))
    test_acc_list.append(accuracy_score(y_test,pred_test))

In [126]:
pd.DataFrame(dict(k=k_list,train=train_acc_list,test= test_acc_list))

     k     train     test
0    1  0.999920  0.84176
1    2  0.921760  0.82736
2    3  0.925440  0.85864
3    4  0.906587  0.85632
4    5  0.909520  0.86304
5    6  0.900000  0.86176
6    7  0.900587  0.86648
7    8  0.895680  0.86480
8    9  0.896427  0.86872
9   10  0.893440  0.86776
10  11  0.892507  0.86968
11  12  0.890533  0.86832
12  13  0.889573  0.86848
13  14  0.887707  0.87072
14  15  0.886693  0.86928
15  16  0.884827  0.87016
16  17  0.885600  0.86792
17  18  0.883707  0.86832
18  19  0.882853  0.86576
19  20  0.881520  0.86576